<!DOCTYPE html>
<html>
<head>
  <title>Achieve</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <ul>
      <li><%= link_to image_tag("icon.png", :size => "40x40"), tops_path %></li>
      <li><%= link_to image_tag("home.png", :size => "35x35"), blogs_path %></li>
      <li><%= link_to 'Comment', new_blog_path, class: 'btn btn-info btn-sm'%></li>
    </ul>
  </header>

<%= yield %>

  <footer>
    <p>Sumiko Saito</p>
    <p>© 2018 Copyright Sumiko Saito.</p>
  </footer>

</body>
</html>
